<form id="myForm" (ngSubmit)="onSubmit()">

    <div class="card flex justify-content-center gap-3">
        <p-checkbox name="groupname" value="Bold" label="Bold" [(ngModel)]="this.checkoutForm.Bold" [binary]="true"
            inputId="binary"></p-checkbox>
        <div>
            <p-checkbox name="groupname" value="Italic" label="Italic" [(ngModel)]="this.checkoutForm.Italic"
                [binary]="true" inputId="binary"></p-checkbox>
        </div>
        <div> <p-checkbox name="groupname" value="UnderLined" label="UnderLined"
                [(ngModel)]="this.checkoutForm.UnderLined" [binary]="true" inputId="binary"></p-checkbox>
        </div>
    </div>
    <div>
        <p-colorPicker name="groupname" value="Color" label="Color"
            [(ngModel)]="this.checkoutForm.Color"></p-colorPicker>
    </div>
    <div class="card flex justify-content-center">
        <p-dropdown [options]="fonts" name="groupname" [(ngModel)]="this.checkoutForm.SelectedFont"
            optionLabel="Name"></p-dropdown>
    </div>
    <div>
        <p-inputNumber inputId="integeronly" name="groupname" value=10 label="10"
            [(ngModel)]="this.checkoutForm.Size"></p-inputNumber>
    </div>
    <button class="button" type="submit">עדכון הדוח</button>

</form>