#divToExport{
    border-color: blue;
    box-sizing: initial;
    background-color: black;
   margin: auto;
   border:5px;
}
.frame {
    text-align: center;
    /* margin: 2rem 5vw 2rem 5vw; */
    /* padding: 3vw; */
    border: solid 1px black;
    /* width: 62.2vw !important;
    height: 88vw !important; */
    width: 806px;
    height: 1120px;
    font-family: "Segoe UI", Arial, sans-serif;
}
body{
    background-color: peru;
}
.coordinates {
    position: fixed;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
  }
