<input pInputText id="username" [(ngModel)]="value"
    [ngStyle]="{'color':color,'text-decoration':hasUnderline? 'underline':'none','font-weight':isEmphasized? 'bold':'lighter','font-style':FontType}"
    [style.width.px]="width" [style.height.px]="height" />
<p>displayType: {{displayType}}</p>
<p>FontType: {{FontType}}</p>

<div>
    <label>רוחב</label><br>
    <p-inputNumber pInputText value="width" [(ngModel)]="width"></p-inputNumber><br>
    <label>אורך</label><br>
    <p-inputNumber pInputText value="height" [(ngModel)]="height"></p-inputNumber><br><br>

    <p-checkbox [binary]="true" inputId="binary" [(ngModel)]="hasUnderline"></p-checkbox>
    <label>קן תחתי</label><br>
    <p-checkbox [binary]="true" inputId="binary" [(ngModel)]="isEmphasized"></p-checkbox>
    <label>מודגש</label><br><br>
    <p-dropdown [(ngModel)]="FontType" [options]="fonttypeOptions" aria-placeholder="סוג כתב"></p-dropdown><br><br>
    <p-dropdown [autoDisplayFirst]="false" [(ngModel)]="displayType" [options]="displayTypeOptions"
        aria-placeholder="סוג הצגה" [showClear]="false"></p-dropdown><br><br>
    <p-colorPicker placeholder="color" [(ngModel)]="color"></p-colorPicker> <br>
</div>